@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Medium.ttf'); 
    font-weight: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.ttf'); 
    font-weight: bold;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.ttf'); 
    font-weight: 700;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Light.ttf'); 
    font-weight: 200;
  }

  @font-face {
    font-family: 'HelveticaLTS';
    src: url('assets/fonts/HelveticaLTStd-BlkCond.ttf');
  }


  